<nav class="navbar navbar-expand-lg navbar-dark bg-white"> <!-- Add left margin to the navbar -->
  <div class="container align-items-center">
    <a class="navbar-brand" href="#">
      <%= image_tag 'logo.png', alt: 'Logo', class: 'd-inline-block align-text-top img-fluid', style: 'max-height: 100px;' %>
    </a>

    <div class="collapse navbar-collapse justify-content-start" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-secondary mx-3" aria-current="page" href="#">Home</a>
        <a class="nav-link text-secondary mx-3" href="#">About</a>
        <a class="nav-link text-secondary mx-3" href="#">Contact</a>
      </div>
    </div>
    <div>
      <button class="btn btn-dark mb-1 ps-4 pe-4">
        Get Help
      </button>
    </div>
  </div>
</nav>

<%# Style CSS for nav %>

<style>
.navbar-nav .nav-link:hover {
  color: #000 !important; /* Dark color on hover */
}
#navbarNavAltMarkup{
  margin-left: 200px;
}

</style>