<div class="d-flex" style="min-height: 100vh;">
  <div class="container">
    <div class="form-container p-4">
      <h1 class="mb-1 text-center">New Bill</h1>

        <% if @record.errors.any? %>
          <div class="alert alert-danger">
        <h4>Errors:</h4>
           <ul>
            <% @record.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <%= render 'form', record: @record %>
    </div>
  </div>
  </div>

  <%= javascript_pack_tag 'intl-tel-input' %>

