<%= form_with(url: branch_refunds_path, method: :get, local: true, class: "mb-3") do %>
  <div class="justify-content-between align-items-center mb-3">
    <div class="d-flex">
      <label for="per_page" class="me-2">Refund Request per page:</label>
      <%= select_tag :per_page, options_for_select([5, 10, 25, 50], params[:per_page] || 6), 
                     onchange: 'this.form.submit()', class: "form-select form-select-sm w-auto" %>
    </div>
  </div>
<% end %>
