<footer class="bg-light text-muted pt-5">
  <div class="container">
    <div class="row">
      <!-- Logo Section -->
      <div class="col-lg-4 col-md-6 mb-4 text-center">
        <a href="#" class="navbar-brand mb-3">
          <%= image_tag 'logo.png', alt: 'Logo', class: 'img-fluid', style: 'max-height: 100px;' %>
        </a>
        <p class="small text-center mt-3">
          We provide high-quality medical supplies to ensure customer satisfaction and reliability. We aim to deliver health and care.
        </p>
      </div>
      <!-- Quick Links Section -->
      <div class="col-lg-2 col-md-6 mb-4 mt-5">
        <h5 class="text-dark mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-reset text-decoration-none small">Home</a></li>
          <li><a href="#" class="text-reset text-decoration-none small">About</a></li>
          <li><a href="#" class="text-reset text-decoration-none small">Contact</a></li>
        </ul>
      </div>
      <!-- Contact Section -->
      <div class="col-lg-3 col-md-6 mb-4 mt-5">
        <h5 class="text-dark mb-3">Contact Us</h5>
        <ul class="list-unstyled small">
          <li><span>Email:</span> info@medicalstore.com</li>
          <li><span>Phone:</span> +123 456 7890</li>
          <li><span>Address:</span> 123 Health Street, City</li>
        </ul>
      </div>
      <!-- Social Media Section -->
      <div class="col-lg-3 col-md-6 mb-2 mt-5">
        <h5 class="text-dark mb-3">Follow Us</h5>
        <div>
            <a href="https://www.facebook.com/yourpage" class="social-icon text-muted me-3"><i class="fab fa-facebook fa-lg"></i></a>
            <a href="https://twitter.com/yourpage" class="social-icon text-muted me-3"><i class="fab fa-twitter fa-lg"></i></a>
            <a href="https://www.instagram.com/yourpage" class="social-icon text-muted me-3"><i class="fab fa-instagram fa-lg"></i></a>
        </div>

      </div>
    </div>
    <hr class="my-4">

      <div class="col-md-12">
        <p class="small mb-0 text-center">&copy; 2024 Medical Store. All Rights Reserved.</p>
      </div>
  </div>
</footer>


<style> 
.social-icon:hover {
  color: #000 !important; 
}

</style>